@import "../globalStyles.module.scss";

@mixin header-style {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  p {
    font-size: 2rem;
    font-weight: 400;
  }
}

.container_1 {
  height: fit-content;
  background: $dim-blue;
  padding: 3vh 8vw 3vh 8vw;
  color: $blue;

  .top {
    @include header-style();
  }

  .card_top {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
}

.container_2,
.container_4,
.container_6 {
  height: fit-content;
  background: $white;
  padding: 1vh 8vw 6vh 8vw;
  color: $blue;
  margin-top: 3rem;

  .top {
    @include header-style();
  }

  .content_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    border-collapse: collapse;
    grid-gap: 1rem;

    .table1 {
      border-bottom: 1px solid $blue;
    }

    .table2 {
      border-left: 0;
    }

    .table1,
    .table2 {
      background: $dim-blue;
      padding: 1vw;
      border-left: 1px solid $blue;
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      thead {
        border-bottom: 1px solid $blue;
        tr {
          th {
            padding: 1vw;
            border: 1px solid $blue;
          }
        }
      }
      tbody {
        tr {
          td {
            text-align: center;
            border-right: 1px solid $blue;
            padding: 1vw;
          }
        }
      }
    }

    .table2 {
      border-bottom: 1px solid $blue;
    }

    @media (max-width: 600px) {
    }
  }

  @media (max-width: 900px) {
    .content_wrapper {
      grid-template-columns: 1fr;
    }
  }
}

.container_3,
.container_5 {
  background: $dim-blue;
  padding: 4vh 8vw 4vh 8vw;
  color: $blue;

  .top {
    @include header-style();
  }

  .content_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }
  @media (max-width: 660px) {
    .content_wrapper {
      grid-template-columns: 1fr;
    }
  }
}
