@import "../globalStyles.module.scss";

.blue_filled_button {
  background: $blue;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  border: 2px solid $blue;
  font-size: 1rem;
  font-weight: bold;
}

.blue_filled_button:hover {
  background: $dim-blue;
  color: $blue;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
