@import "../globalStyles.module.scss";
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav_left {
  color: $blue;
  font-size: 150%;
  font-weight: bolder;
  text-decoration: none;
}

.nav_middle {
}

.nav_items {
  margin: 2vw;
  color: $blue;
  font-weight: 400;
  text-decoration: none;
}

.nav_items:hover {
  text-decoration: underline;
}

.nav_right {
}
