@import "../globalStyles.module.scss";
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav_middle {
  .nav_items {
    position: relative;
    display: inline-block;
    color: $blue;
    text-decoration: none;
  }

  .nav_items:hover {
    text-decoration: none;
  }

  .nav_items::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: $blue;
    transition: width 0.3s ease;
  }

  .nav_items:hover::after {
    width: 100%;
  }
}
.nav_left {
  color: $blue;
  font-size: 150%;
  font-weight: bolder;
  text-decoration: none;
}

.menu_wrapper {
  display: none;
}

.sidenav {
  display: none;
}
.activesidenav {
  display: none;
}

.nav_items {
  margin: 2vw;
  color: $blue;
  font-weight: 400;
  text-decoration: none;
}

.nav_items:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .nav_middle {
    display: none;
  }

  .nav_right {
    display: none;
  }

  .menu_wrapper {
    display: block;
    padding: 1rem;
  }

  .menu {
    display: block;
    width: 30px;
    height: 3px;
    background: $blue;
    transition: all 0.5s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background: $blue;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      transform: translateY(-8px);
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background: $blue;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      transform: translateY(8px);
    }
  }

  .activemenu {
    width: 30px;
    height: 3px;
    transform: translateX(-50px);
    background: transparent;
    transition: all 0.5s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background: $blue;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      transform: rotate(45deg) translate(35px, -35px);
    }
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background: $blue;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }

  .sidenav {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 2rem;
    background: $white;
    //transform: translateX(10%);
    // transition: all 0.5s ease-in-out;
  }

  .activesidenav {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 2rem;
    background: $white;
    margin-bottom: 0.5rem;
    // transform: translateX(80%);
    transition: all 0.5s ease-in-out;
  }

  .activesidenav * {
    padding: 0.5rem;
  }

  .menu_wrapper:hover,
  .activemenu {
    cursor: pointer;
  }
}
